
<app-header></app-header>
<div class="container">
    <div class="main-container">
    <mat-error *ngIf="!success">{{invalidUser()}}</mat-error><br>
    <div class="field">
        <mat-form-field appearance="fill">
            <mat-label>User-name</mat-label>
            <input matInput  [formControl]="username" required>
          </mat-form-field>
          <mat-error *ngIf="!noUserName">{{noUser()}}</mat-error><br>
    </div> <br><br>
    <div class="field">
        <mat-form-field appearance="fill">
            <mat-label>password</mat-label>
            <input matInput  [formControl]="password" required> 
          </mat-form-field>
          <mat-error *ngIf="!noPassword">{{noPassw()}}</mat-error><br>
    </div>
    <br><br>
      <button mat-stroked-button (click)="validate()">Login</button>
    </div>
  </div>
  <app-footer></app-footer>